@import 'vars';

.nf *,
.nf-dropdown,
.nf-dropdown * {
    box-sizing: border-box;
}

.nf-pointer {
    cursor: default;
}
    
.nf-noselect {
    user-select: none;
}

.nf-icon {
    width: 16px;
}

.nf-code {
    font-family: monospace;
    font-weight: normal;
    text-transform: uppercase;
}

.nf-h3 {
    font-size: 130%;
    font-weight: normal;
    margin: 2rem 0 1rem
}

.nf-auto-size {
    display: inline-block;
    height: calc($nf-height-inner + 2px);
    padding-left: .5rem;
    padding-right: .5rem;

    .sizer {
        height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        pointer-events: none;
        white-space: nowrap;
    }

    .nf-overlay-target {
        width: 100%;
    }

    input {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

.nf-expand {
    position: relative;

    .nf-extended-indicator {
        @include absolute(4px, 4px);
        @include force-width(5px);
        background-color: $nf-color-primary;
        border: 0;
        border-radius: 100%;
        height: 5px;
    }
}

.nf-complex-filter {
    border: $nf-border-width solid $nf-color-border;
    border-radius: $nf-border-radius;

    &.nf-open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .nf-scroll-container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: $nf-inner-padding;
        padding-bottom: 0;
        user-select: none;

        & > filter-dropdown {
            width: auto;
        }

    }

    &.nf-scrollable {
        filter-node {
            height: $nf-height-inner;
        }

        .nf-inner {
            height: $nf-height-full;
        }

        .nf-scroll-container {
            flex-wrap: nowrap;
        }
        
        .nf-group-inline {
            margin-bottom: 0;
        }

        .nf-comparison-inline {
            margin-bottom: 0;
        }

        .nf-complex-filter-filters { 
            flex-wrap: nowrap;
        }
    }

    &-query {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        height: $nf-height-inner;
        min-width: 5rem;

        &:focus {
            outline: none;
        }
    }

    &-filters {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        margin-right: 1rem;
    }

    &-buttons-end,
    &-buttons-start {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        gap: $nf-inner-padding;
        height: $nf-height-inner;
        margin-top: $nf-inner-padding;
        padding-left: $nf-inner-padding;
        padding-right: $nf-inner-padding;

        button {
            display: flex;
        }

        svg {
            width: 18px;
        }
    }

    &-buttons-end {
        @include box-shadow-outer(-1px, 0, 0, .1);
        margin-left: 0;
    }

    &-buttons-start {
        @include box-shadow-outer(1px, 0, 0, .1);
        margin-right: .25rem;
    }
}

div.nf-complex-filter {
    padding: 0;
}

.nf-inner {
    cursor: text;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: $nf-height-full;

    & > ng-scrollbar {
        flex-grow: 1;
    }
    
    & > .nf-button {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        justify-content: center;
        padding: $nf-inner-padding $nf-inner-padding * 1.5;

        & {
            height: $nf-height-inner;
        }

        svg {
            width: 20px;
        }
    }

    .nf-menu-button {
        background-image: none;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        justify-content: center;
        padding: $nf-inner-padding $nf-inner-padding;

        &-logical {
            width: 2.5rem;
        }

        & {
            height: $nf-height-inner;
        }

        svg {
            width: 20px;
        }
    }
}

//
// INPUTS
//
.nf-input-date,
.nf-input-datetime,
.nf-input-number,
.nf-input-dropdown,
.nf-input-select,
.nf-input-text {
    width: 100%;
}

.nf-input-dropdown {
    text-align: left;
    background-image: $nf-caret;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
    padding-right: 1.5rem;
}

.nf-comparison-inline,
.nf-group-inline {
    & {
        background-color: $nf-color-filter;
        border-radius: $nf-border-radius;
        border: 1px solid $nf-color-border;
        display: inline-flex;
        height: $nf-height-inner;
        margin-bottom: $nf-inner-padding;
        margin-right: $nf-inner-padding;
    }

    .nf-button,
    .nf-input-date,
    .nf-input-datetime,
    .nf-input-dropdown,
    .nf-input-number,
    .nf-input-select,
    .nf-input-text {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        height: $nf-height-inner;
        line-height: 1;
        padding: $nf-inner-padding $nf-inner-padding * 1.5;
        padding-top: $nf-inner-padding * 0.75;
    }

    .nf-input-dropdown {
        background-image: none;
    }

    .nf-operator-text{
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: $nf-inner-padding $nf-inner-padding * 1.5;
        text-align: left;
        text-transform: uppercase;
    }

    .nf-button {
        svg.nf-icon {
            width: 12px;
        }
    }
}

//
// COMPARISONS
//
.nf-comparison-grid {
    & {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: .5rem;
    }

    .nf-comparison-field {
        @include force-width(10rem);
    }

    .nf-comparison-operator {
        @include force-width(6rem);
    }

    .nf-comparison-value {
        flex-grow: 1;
    }
}

.nf-comparison-inline {
    .nf-input-date {
        width: 9rem;
    }
    .nf-input-datetime {
        width: 14rem;
    }

    .nf-input-number {
        width: 4rem;
    }

    .nf-input-select,
    .nf-input-text {
        width: 8rem;
    }

    .nf-input-checkbox {
        margin-top: .5rem;
        margin-left: 1rem;
    }

    .nf-comparison-operator {
        border-left: 1px solid $nf-color-border;
        border-right: 1px solid $nf-color-border;
    }

    .nf-comparison-negated {
        border-right: 1px solid $nf-color-border;
        padding-left: $nf-inner-padding;
        padding-right: $nf-inner-padding;
    }

    & *:focus {
        position: relative;
        z-index: 1;
    }
}

//
// GROUP
//
.nf-group-grid {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: .5rem;
    margin-top: .5rem;

    .nf-group-header {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;
    }

    .nf-group-add {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        gap: .5rem;
        margin-top: .5rem;
    }

    .nf-group-children {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: .5rem;
        padding-left: 1rem;
        padding-right: 0;
        position: relative;

        &::before {
            @include absolute(-.5rem, null, $nf-height-full * 0.5, 1.5rem);
            border-left: 2px dashed $nf-color-border;
            content: '';
            width: 2px;
            margin-top: -1px;
            margin-left: -1px;
        }
    }

    filter-comparison {
        position: relative;

        &::before {
            @include absolute(50%, 100%, null, -1.5rem);
            border-bottom: 2px dashed $nf-color-border;
            content: '';
            height: 2px;
            margin-top: -1px;
            margin-left: -1px;
        }
    }
    
    .nf-group-add,
    .nf-group-children .nf-group-types {
        position: relative;

        &::before {
            @include absolute(50%, 100%, null, -1.5rem);
            border-bottom: 2px dashed $nf-color-border;
            content: '';
            height: 2px;
            margin-top: -1px;
            margin-left: -1px;
        }
    }

    .nf-group-child,
    .nf-group-add {
        margin-right: 0;
        margin-left: 2rem;
    }

    .nf-group-add,
    filter-comparison {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: stretch;
        position: relative;
        width: 100%;
    }
}

.nf-dropdown {
    & > filter-group > .nf-group-grid {
        margin: 0;
    }
}

//
// DROPDOWN
//
.nf-dropdown {
    width: $nf-dropdown-width;

    &-items {
        list-style: none;
        margin: 0;
        max-height: $nf-dropdown-height;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;
    }

    &-search {
        input {
            width: 100%;
        }
    }

    &-descriptive {
        width: $nf-dropdown-width-lg;
        
        .nf-dropdown-text,
        .nf-dropdown-description {
            width: 50%;
        }

        .nf-dropdown-item {
            display: flex;
        }
    }

    &-empty {
        justify-content: center;
    }

    &-item {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .nf-dropdown-text,
        .nf-dropdown-description {
            line-height: 1.5;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .nf-dropdown-description {
            font-size: $nf-text-small;
            font-weight: normal;
            opacity: .7;
            text-align: right;
        }
    }
}

.nf-details {
    border: 1px solid $nf-color-border;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-height: 350px;
    padding: 1.75rem;
    overflow-x: hidden;
    overflow-y: auto;
}

//
// GROUP
//
.nf-sorting {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: .5rem;

    &-row {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: .5rem;
    }

    &-field {
        flex-grow: 1;
    }

    &-mode {
        @include force-width(9rem);
    }
}

filter-dropdown {
    display: block;

    &, & > .nf-button {
        width: 100%;
    }
}