@use 'sass:color';
@import 'vars';

//
// BUTTON
//
.nf-simple-button {
    & {
        border-radius: $nf-border-radius;
        border: 0;
        color: $nf-color-text;
        padding: .5rem .75rem;
    }

    &:focus {
        outline: 1px solid $nf-color-primary;
    }

    &.nf-simple-button-add-outline {
        background-color: transparent;
        border: 1px solid $nf-color-add-background;
        border-radius: $nf-border-radius;
        color: $nf-color-add-background;
        
        svg {
            fill: $nf-color-add-foreground;
        }

        &:hover {
            background-color: $nf-color-add-background;
            color: $nf-color-add-foreground;
            cursor: default;
        }
    }

    &.nf-simple-button-add {
        background-color: $nf-color-add-background;
        
        svg {
            fill: $nf-color-add-foreground;
        }

        &:hover {
            background-color: color.adjust($nf-color-add-background, $lightness: -10%);
        }
    }

    &.nf-simple-button-delete,
    &.nf-simple-button-default {
        background-color: transparent;
        
        svg {
            fill: $nf-color-icon;
        }

        &:hover {
            background-color: $nf-color-button-hover;

            svg {
                fill: $nf-color-text-dark;
            }
        }

        &.active {
            font-weight: bolder;
        }
    }

    svg {
        fill: white;
    }
}

.nf-simple-button-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: .5rem;
    margin-top: .5rem;
}

//
// INPUTS
//
.nf-simple-input-date,
.nf-simple-input-number,
.nf-simple-input-dropdown,
.nf-simple-input-select,
.nf-simple-input-text {
    & {
        background-color: #fff;
        border: 1px solid $nf-color-border;
        border-radius: $nf-border-radius;
        padding: .5rem .75rem;
    }

    &:focus {
        outline: 1px solid $nf-color-primary;
    }
}

.nf-simple-input-dropdown {
    text-align: left;
}

//
// DROPDOWN
//
.nf-simple-dropdown {
    @include box-shadow-outer(0, 4px, 4px, 0.1);
    background: white;
    border: $nf-border-width solid $nf-color-border;
    border-radius: $nf-border-radius;

    & * {
        box-sizing: border-box;
    }

    &-search {
        border-top: 0;
        border-bottom: 1px solid $nf-color-border;
        padding: .5rem;
    }

    &-item {
        padding: .5rem .5rem;

        &:hover, &.hover {
            background: $nf-color-border;
            color: inherit;
            outline: none;
        }

        &:focus, &.focus {
            background: $nf-color-primary;
            color: #fff;
            outline: none;
        }

        &:active, &.active {
            background: $nf-color-primary-dark;
            color: #fff;
            outline: none;

            &:hover {
                background: $nf-color-primary-dark;
            }

            &:focus {
                background: $nf-color-primary-dark;
            }
        }
    }
}